{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block title %} Hayvan Sahibi Ekle {% endblock %}

{% block content %} 


 

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Hayvan Sahibi Ekle</li>
    </ol>
  </nav>
<main class="login-form mt-5">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                 
                    <div class="card-body text-center">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            
                            <div {% if message.tags %}  class="alert alert-success {{ message.tags }}" {% endif %} role="alert">
                            {{message}}
                              </div>
                                {% endfor %}
                        </ul>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            {{ insert_form|crispy }}
                            <button type="submit" class="btn btn-primary mt-3">
                              Ekle
                            </button>
                          
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

{% endblock %}
